<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          type="text/css"
          href="Style.css"/>
    <link href="https://allfont.ru/allfont.css?fonts=pt-sans-narrow" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="Slide_fin">
    <img src="logo2018.png"  class = "Logo_Titul">
    <div class = "Title">Спасибо за внимание!</div>
    <div class=" TeamName">TeamName</div><div class = "LeadMail">LeadMail</div>
    <div class = "LeadPhone">LeadPhone</div>
</div>
</body>
</html>