<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MaketAnalys5</title>
    <link rel="stylesheet"
          type="text/css"
          href="Style.css"/>
</head>
<body>
<div class ="Slide">
    <img src="logo2018.png"  class = "Logo_sol">
    <div class = "litTitle">Title</div>
    <div class = "litSubTitle">Subtitle</div>
    <div class = "message">Message</div>
    <div class = "MainBody3">MainBody</div>
    <div class = "Conclusion2">Conlusion</div>
    <div class = "NumberSlide"></div>
</div>
</body>
</html>