<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MaketAnalys1</title>
    <link rel="stylesheet"
          type="text/css"
          href="Style.css"/>
</head>
<body>
   <div class ="Slide">
       <img src="logo2018.png"  class = "Logo_sol">
       <div class = "litTitle">Title</div>
       <div class = "litSubTitle">Subtitle</div>
       <div class = "message">Message</div>
       <div class = "MainBody1">
           <div class="Content1">message</div>
           <div class="Content1">message</div>
           <div class="Content2">message</div>
       </div>
       <div class = "Conclusion1">Conclusion
           <div class="message4">message</div>
           <div class="message4">message</div>
           <div class="message4">message</div>
           <div class="message4">message</div>
       </div>

       <div class = "NumberSlide"></div>
   </div>
</body>
</html>