<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MaketAnalys2</title>
    <link rel="stylesheet"
          type="text/css"
          href="Style.css"/>
</head>
<body>
<div class ="Slide">
    <img src="logo2018.png"  class = "Logo_sol">
    <div class = "litTitle">Title</div>
    <div class = "litSubTitle">SubTitle</div>
    <div class = "message">Main Message</div>
    <div class = "MainBody2">
        <div class="Content3">Message</div>
        <div class="Content4">Chart 1</div>
    </div>
    <div class = "MainBody2">
        <div class="Content3">Message</div>
        <div class="Content4">Chart 2</div>
    </div>
    <div class = "footer">Conclusion</div>
    <div class = "footer">Conclusion</div>
    <div class = "NumberSlide"></div>
</div>
</body>
</html>