<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MaketSol1</title>
    <link rel="stylesheet"
          type="text/css"
          href="StyleSol.css"/>
</head>
</head>
<body>
 <div class="Slide">
     <img src="logo2018.png"  class = "Logo_sol">
     <div class = "litTitle">Title</div>
     <div class = "litSubTitle">Subtitle</div>
     <div class = "message">Main message</div>
     <div class = "MainBody1">
         <div class="Content1">Текст+иконки</div>
          <div class = "conteiner">
                  <div class="Content2">Картинка/график</div>
                  <div class="Content3">Картинка/Чарт</div>
          </div>
     </div>
     <div class = "NumberSlide"></div>
 </div>
</body>
</html>