<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MaketSol3</title>
    <link rel="stylesheet"
          type="text/css"
          href="StyleSol.css"/>
</head>
</head>
<body>
<div class="Slide">
    <img src="logo2018.png"  class = "Logo_sol">
    <div class = "litTitle">Title</div>
    <div class = "litSubTitle">Subtitle</div>
    <div class = "message">Main message</div>
    <div class = "MainBody3">
       <div class="Row2">
           <div class="Content6">message
            <div class="icon"></div>
        </div>
           <div class="Content7">message
               <div class="icon"></div>
           </div>
           <div class="Content7">message
               <div class="icon"></div>
           </div>
           <div class="Content8">
               <div class="Row3">
                   <div class="Content7">Заголовок 1</div>
                   <div class="Content9">Диаграмма 1</div>
               </div>
               <div class="Row3">
                   <div class="Content7">Заголовок 2</div>
                   <div class="Content9">Диаграмма 2</div>
               </div>
           </div>
       </div>
        <div class ="Row4">
                <div class="Content10">
                    <div class="Content7">Заголовок графика 1</div>
                    <div class="Content9">График 1</div>
                </div>
                <div class="Content10">
                    <div class="Content7">Заголовок графика 2</div>
                    <div class="Content9">График 2</div>
                </div>
        </div>
    </div>
    <div class = "NumberSlide"></div>
</div>
</body>
</html>