<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team</title>
    <link rel="stylesheet"
          type="text/css"
          href="Style.css"/>
</head>
<body>
  <div class = "Slide">
      <div style="width:30%;  height: 10% ;margin-top: 2%;
    margin-left: 3%;
    float:left;    outline: 1px solid black;
    background: lightgray;">Команда</div>
      <div class = "Logo_sol">Лого</div>
      <textarea class = "message" placeholder="message"></textarea>
     <div class ="Team">
      <div class = "Person">
            <div class = "photo">photo</div>
            <div class= "Info">Имя и фамилия</div>
            <div class= "Info">Роль</div>
            <div class= "Info">Вуз/направление</div>
            <div class= "Info">Роль</div>
            <div class= "Info">Почта</div>
            <div class= "Info">Телефон</div>
            <div class= "About">О себе</div>
      </div>
         <div class = "Person">
             <div class = "photo">photo</div>
             <div class= "Info">Имя и фамилия</div>
             <div class= "Info">Роль</div>
             <div class= "Info">Вуз/направление</div>
             <div class= "Info">Роль</div>
             <div class= "Info">Почта</div>
             <div class= "Info">Телефон</div>
             <div class= "About">О себе</div>
         </div>
         <div class = "Person">
             <div class = "photo">photo</div>
             <div class= "Info">Имя и фамилия</div>
             <div class= "Info">Роль</div>
             <div class= "Info">Вуз/направление</div>
             <div class= "Info">Роль</div>
             <div class= "Info">Почта</div>
             <div class= "Info">Телефон</div>
             <div class= "About">О себе</div>
         </div>
         <div class = "Person">
             <div class = "photo">photo</div>
             <div class= "Info">Имя и фамилия</div>
             <div class= "Info">Роль</div>
             <div class= "Info">Вуз/направление</div>
             <div class= "Info">Роль</div>
             <div class= "Info">Почта</div>
             <div class= "Info">Телефон</div>
             <div class= "About">О себе</div>
         </div>
         <div class = "Person">
             <div class = "photo">photo</div>
             <div class= "Info">Имя и фамилия</div>
             <div class= "Info">Роль</div>
             <div class= "Info">Вуз/направление</div>
             <div class= "Info">Роль</div>
             <div class= "Info">Почта</div>
             <div class= "Info">Телефон</div>
             <div class= "About">О себе</div>
         </div>
         <div class = "Person">
             <div class = "photo">photo</div>
             <div class= "Info">Имя и фамилия</div>
             <div class= "Info">Роль</div>
             <div class= "Info">Вуз/направление</div>
             <div class= "Info">Роль</div>
             <div class= "Info">Почта</div>
             <div class= "Info">Телефон</div>
             <div class= "About">О себе</div>
         </div>
     </div>


  </div>
</body>
</html>